<% provide(:title, "Editar produto") %>
<h1>Edite seu produto</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :storage %>
      <%= f.text_field :storage, class: 'form-control' %>
      
      <%= f.label :perishability %>
      <%= f.text_field :perishability, class: 'form-control' %>
      
      <%= f.label :weightandquant %>
      <%= f.text_field :weightandquant, class: 'form-control' %>
      
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
      
      <%= f.label :furnisher %>
      <%= f.text_field :furnisher, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @product %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>