<% provide(:title, "Editar produto") %>
<h1>Editar produto</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@products) do |f| %>

      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :storage, 'Local de armazenamento' %>
      <%= f.text_field :storage, class: 'form-control' %>
      
      <%= f.label :perishability, 'Perecibilidade' %>
      <%= f.text_field :perishability, class: 'form-control' %>
      
      <%= f.label :weightandquant, 'Peso ou quantidade' %>
      <%= f.text_field :weightandquant, class: 'form-control' %>
      
      <%= f.label :price, 'Preço' %>
      <%= f.text_field :price, class: 'form-control' %>
      
      <%= f.label :furnisher, 'Fornecedor' %>
      <%= f.text_field :furnisher, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>