<% provide(:title, @product.name) %>
<h1>
  <%= gravatar_for @product %>
  <%= @product.name %>
</h1>
<%= @product.type %>, <%= @product.storage %>, <%= @product.perishability %>, 
<%= @product.weightandquant %>, <%= @product.price %>, <%= @product.furnisher %>