<header class="navbar navbar-fixed-top navbar-light" style="background-color: #00CED1;"">
  <div class="container">
    <%= link_to "pracinha bar", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? && current_user.admin? %>
          <li><%= link_to "Funcionários", users_path, class: 'nav-link' %></li>
          <li><%= link_to "Produtos", products_path, class: 'nav-link' %></li>
          <li><%= link_to "Cardápio", '#', class: 'nav-link' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown", class="nav-link">
              Conta <b class="caret"></b>
            </a> 
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        
        <% elsif logged_in? %>
          <li><%= link_to "Pedido", '#', class: 'nav-link' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown", class="nav-link">
              Conta <b class="caret"></b>
            </a> 
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!-- colocar links para produtos e tals -->